:root{
	--bg-color: rgb(189, 189, 189);
	--second-layer-bg-color: rgb(255, 255, 255);
	--border-rouded: 10px;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: rgb(189, 189, 189);
	overflow-x: hidden;
	user-select: none;
}

.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--second-layer-bg-color);
}

.head .brand{
	font-size: 1.3rem;
	font-weight: bold;
}

.head ul{
	display: flex;
	gap: 20px;
}

.head ul li{
	list-style: none;
}

.head ul li span{
	font-weight: bold;
}

.content-container{
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.client-container{
	background-color: var(--second-layer-bg-color);
	width: 9%;
	height: 90vh;
	border-radius: var(--border-rouded);
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.client-container .client-in-queue{
	text-align: center;
}

.client-container #clients_queue{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	gap: 20px;
}

.client-container #clients_queue .client {
	position: relative; /* untuk positioning overlay */
	background-color: var(--bg-color);
	border-radius: var(--border-rouded);
	width: 100px;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px solid #ccc;
	color: white;
}

.client-container #clients_queue .client::before {
	content: "";
	position: absolute;
	inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
	background: rgba(0, 0, 0, 0.4); /* gelap lutsinar */
	z-index: 0; /* duduk belakang teks */
	border-radius: inherit;
}

.client-container #clients_queue .client span {
	position: relative; /* supaya dia duduk atas overlay */
	z-index: 1;
	font-weight: bold;
}

.client_1{background-image:url(images/client_1.jpg);}
.client_2{background-image:url(images/client_2.jpg);}
.client_3{background-image:url(images/client_3.jpg);}
.client_4{background-image:url(images/client_4.jpg);}
.client_5{background-image:url(images/client_5.jpg);}
.client_6{background-image:url(images/client_6.jpg);}
.client_7{background-image:url(images/client_7.jpg);}
.client_8{background-image:url(images/client_8.jpg);}
.client_9{background-image:url(images/client_9.jpg);}
.client_10{background-image:url(images/client_10.jpg);}

.action-container{
	display: flex;
	flex-direction: column;
	width: 10%;
	gap: 20px;
}

.action{
	background-color: var(--second-layer-bg-color);
	border-radius: var(--border-rouded);
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	height: 100px;
}

.action span{
	font-weight: bold;
}

.action-container #cashier{
	background-image: url(./images/cashier.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.action-container #exit{
	background-image: url(./images/exit.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.highlight-dropzone {
	box-shadow: 0px 5px 5px 5px rgba(114, 221, 87, 0.5);
	border: 1px solid limegreen;
	transition: all 0.2s ease-in-out;
}

.sales-floor{
	width: 75%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sales-floor .car-container {
	background-color: var(--second-layer-bg-color);
	flex: 1;
	border-radius: var(--border-rouded);
	padding: 10px; /* padding semua sudut */
	display: flex;
	flex-direction: column; /* supaya span atas, .cars-list bawah */
	gap: 10px;
	height: 100%; /* supaya boleh bahagi % dari parent */
}

.sales-floor .car-container span {
	font-weight: bold;
	display: block;
	height: 10%;
}

.sales-floor .car-container .cars-list {
	display: flex;
	flex-direction: row; /* default pun boleh */
	flex-wrap: nowrap; /* supaya dia tak turun bawah */
	overflow-x: auto; /* scroll ke tepi */
	overflow-y: hidden; /* jangan bagi scroll bawah */
	gap: 20px;
	padding: 10px;
	background-color: rgb(221, 221, 221);
	border-radius: var(--border-rouded);
	align-items: center;
	scrollbar-width: thin; /* Firefox */
}

/* Untuk browser yang support WebKit (Chrome, Edge, Safari) */
.sales-floor .car-container .cars-list::-webkit-scrollbar {
	height: 8px;
}

.sales-floor .car-container .cars-list::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 10px;
}


.car{
	border-radius: var(--border-rouded);
	background-color: white;
	overflow: hidden;
	padding: 5px 10px;
	display: flex;
	flex-shrink: 0;
}

.car img{
	height: 120px;
	aspect-ratio: 1 / 1;
}

.car .client-drop{
	background-color: rgb(221, 221, 221);
	border-radius: var(--border-rouded);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 120px;
	aspect-ratio: 1 / 1;
}